body{
    background-color: hotpink;
    text-align: center;
}
#sandwichParts.row{
    justify-content: center;
    margin: 4px;
    padding: 4px;
    text-align: center; 
}

.sandmichcolumns{
    justify-content: left;
    margin: 1em;
    padding: 2em;
    text-align: left; 
}

#sandmichTitle{
    text-align: center;
}

#sandmichBtn.row{
    justify-content: center;
    text-align: center;
}